body {
    background-image: url("https://img.freepik.com/free-vector/realistic-coffee-background_79603-1652.jpg?w=1060&t=st=1727739422~exp=1727740022~hmac=7942ff444054df53d5c4e646ffa31eb6c40e2fd476cdd50975379e85c3bbd07e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}